*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 102.5%;
}





/* header responsive code  */
  @media(max-width:998px) {
    html{
        font-size: 55%;
    }

    
}

@media(max-width:75px) {
    html {
        font-size: 45%;
    }
  }




body{
    background-image: url("./bg\ img.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100vh;
}

.intro-imgg{
        /* padding-bottom: 10rem; */
        height: 80rem;
        width: 40rem;
 }



.main-div{
    padding-left:  0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.3rem;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 14vh;
    align-items: center;
}

nav  img{
    width: 7.5rem;
}

.nav-items{
    display: flex;
    gap: 1.4rem;
    color: rgb(177, 93, 255);
}

 .nav-item{
    cursor: pointer;
}

nav .signin-btn{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
    padding-top: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-bottom: 1rem;
    border-radius: 3.1rem;
    cursor: pointer;
}

.intro-section{
    display: flex;
}

.intro-section .left-section{
    max-width: 25rem;
    margin-top: 6.25rem;
}

.intro-section h1{
    color: #8E2DE2;
    font-size: 3.8rem;
    margin-bottom: 3.7rem;
}

.intro-section h4{
    color: #4A00E0;
    font-weight: normal;
    max-width: 30rem;
    margin-bottom: 3.2rem;
    line-height: 1.2rem;
}

.intro-section .learn-more-btn{
    border: none;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.6rem 1.2rem;
    color: aliceblue;
    border-radius: 3.1rem;
    cursor: pointer;
}
